button.toggle_menu {
    margin: 30px;
}


/*.top_menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 50;
    right: 0;
    top:0;
} */